# Environnement virtuel
venv/
ENV/
.env/
.venv/

# Fichiers Python générés
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# VS Code
.vscode/

# Distribution / build
build/
dist/
*.egg-info/

# Cache pip
pip-wheel-metadata/

