.App {
  background-image: url('./assets/BG_Group.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #1E1E1E;
  height: 100vh;
}

.header {
  width: 100%;
}

.logo {
  position: absolute;
  top: 0;
  margin-top: 8px;
  left: 50%;
  transform: translate(-50%, 0);
}

.bg-logo {
  object-fit: fill;
  width: 100%;
}