html, body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.App {
  background-image: url('./assets/BG_Group.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #1E1E1E;
  height: 100vh;
}

.logo {
  position: absolute;
}
